
*, *:before, *:after {
    box-sizing: border-box;
}

.page-container {
    background: #EDEDED;
    position:   static;
    width:      100%;
    height:     auto;
    padding:    32px;
}

.teamlab-swiper {
    display: block;
    position: absolute;
    width: (343px * 2);
    height: (176px * 2)
}

.swiper-container {
    margin-bottom: 68px;
}

.teamlab-container {
    position:        relative;
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    align-items:     center;
}

.launch-weapp {
    z-index:  100;
    width:    100%;
    height:   100%;
    position: absolute;
    display:  block;
    top:      0;
    left:     0;
}

.description-note {
    padding:       0 2px;
    border-radius: 2px;
    background:    #fff;
    color:         #000000;
    font-size:     55%;
    margin-top:    .5em;
    opacity:       0.8;
}

.teamlab.sale-bar {
    z-index:          1;
    position:         absolute;
    bottom:           34px;
    display:          flex;
    flex-direction:   row;
    justify-content:  space-between;
    align-items:      center;
    min-width:        590px;
    height:           72px;
    padding:          0 8px 0 38px;
    background-image: linear-gradient(136deg, #E9D6A0 0%, #CFAD67 100%);
    box-shadow:       0 4px 16px 0 rgba(0, 0, 0, 0.30);
    border-radius:    38px;
    user-select:      none;

    .text {
        margin-right:   28px;
        font-size:      28px;
        color:          #262626;
        letter-spacing: 0;
    }

    .sale-label {
        display:         inline-flex;
        flex-direction:  row;
        justify-content: center;
        align-items:     center;
        width:           auto;
        height:          56px;
        padding:         0 30px;
        background:      rgba(0, 0, 0, 0.27);
        border-radius:   33px;
        font-size:       28px;
        color:           #E8D59E;
        letter-spacing:  0;

        strong {
            align-self:     baseline;
            margin:         0 4px;
            font-size:      42px;
            font-weight:    normal;
            letter-spacing: 0;
            color:          #FFFFFF;
        }

        svg {
            display:    inline-block;
            align-self: center;
            width:      24px;
            height:     24px;
            margin:     0 4px;
        }

        span {
            align-self: center;
            display:    inline-block;
        }

        .up-text:before {
            content:        "/";
            margin:         0 2px;
            display:        inline-block;
            vertical-align: top;

        }
    }
}

.teamlab-item {
    .content-text {
        user-select:     none;
        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     flex-start;
        position:        absolute;
        top:             0;
        width:           100%;
        height:          100%;
        padding:         36px 48px;
    }

    .logo {
        display:           block;
        width:             74px;
        height:            79.5px;
        background-image:  url("../assets/images/banner_logo.png");
        background-repeat: no-repeat;
        background-size:   contain;
    }

    .title {
        display:           block;
        width:             484px;
        height:            72px;
        margin:            0 auto;
        //background-image:  url("../../../static/assets/world.png");
        background-repeat: no-repeat;
        background-size:   contain;
    }

    position: static;
    width:    100%;

    & img {
        border-radius: 8px;
    }
}

.trip-container {
    position:        relative;
    width:           100%;
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    align-items:     center;

    .left-block {
        margin-right: 18px;
    }

    .right-block {
        position: static;
    }

    .hotel-booking {
        overflow: hidden;
        position: relative;
        width:    344px;
        height:   488px;
    }

    .tower-ticket, .steamer-ticket {
        overflow: hidden;
        position: relative;
        width:    324px;
        height:   236px;
    }

    .tower-ticket + .steamer-ticket {
        margin-top: 16px;
    }


    .hotel-booking a, .tower-ticket a, .steamer-ticket a {
        display:  block;
        overflow: hidden;
    }

    .content-text {
        display:         flex;
        flex-direction:  column;
        justify-content: flex-start;
        align-items:     flex-start;
        position:        relative;
        padding:         16px;
        width:           100%;
        height:          100%;

        .title {
            font-size:      32px;
            color:          #EDD598;
            letter-spacing: 0;
            user-select:    none;
        }

        .description {
            opacity:        0.8;
            font-size:      24px;
            color:          #FFFFFF;
            letter-spacing: 0;
            user-select:    none;


            strong {
                font-size:   32px;
                font-weight: normal;
            }
        }

        .sale-label {
            display:         inline-flex;
            flex-direction:  row;
            justify-content: center;
            align-items:     center;
            align-self:      flex-end;
            position:        absolute;
            bottom:          16px;
            width:           auto;
            height:          44px;
            padding:         0 30px;
            color:           #F2DA8F;
            font-size:       24px;
            letter-spacing:  0;
            //line-height:    42px;
            background:      rgba(0, 0, 0, 0.6);
            border-radius:   22px;
            user-select:     none;


            .num {
                font-size:      32px;
                color:          #F2DA8F;
                letter-spacing: 0;
            }

            strong {
                margin:      0 2px;
                font-size:   32px;
                font-weight: 400;
                align-self:  auto;
            }

            svg {
                display:    inline-block;
                align-self: center;
                width:      24px;
                height:     24px;
                margin:     0 4px;
            }

            span {
                align-self: center;
                display:    inline-flex;
            }

            .up-text:before {
                content:        "/";
                margin:         0 2px;
                display:        inline-block;
                vertical-align: top;

            }
        }
    }


    & img {
        position:      absolute;
        border-radius: 8px;
        user-select:   none;
    }

}


.fun-container {
    .entertainment-title {
        display:         flex;
        flex-direction:  row;
        justify-content: center;
        align-items:     center;

        width:           100%;
        height:          100px;
        user-select:     none;

        &:after {
            content:    " ";
            width:      100%;
            height:     1px;
            background: #D5D2D0;
        }

        .text {
            position:       absolute;
            padding:        0 32px;
            font-size:      32px;
            color:          #303030;
            background:     #EDEDED;
            letter-spacing: 0;
        }
    }

    .entertainment-item {
        width:         100%;
        margin-bottom: 16px;
        box-shadow:    4px 8px 16px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;

        a {
            display:  block;
            position: relative;
        }

        &:last-child {
            margin-bottom: 50px;
        }
    }

    .content-text {
        width:                      100%;
        height:                     auto;
        display:                    flex;
        flex-direction:             column;
        justify-content:            flex-start;
        align-items:                flex-start;
        position:                   relative;
        padding:                    16px 32px;
        font-weight:                normal;
        background:                 #FFFFFF;

        border-bottom-left-radius:  8px;
        border-bottom-right-radius: 8px;

        .title {
            font-size:      28px;
            color:          #000000;
            letter-spacing: 0;
            user-select:    none;
        }

        .description {
            font-size:      28px;
            color:          #212121;
            letter-spacing: 0;
            line-height:    40px;
            user-select:    none;

        }

        .sale-label {
            background-image: linear-gradient(136deg, #E9D6A0 0%, #CFAD67 100%);
            border-radius:    22px;
            line-height:      42px;
            width:            auto;
            height:           44px;
            font-size:        24px;
            font-weight:      400;
            padding:          0 30px;
            display:          inline-flex;
            //align-items:      baseline;
            flex-direction:   row;
            justify-content:  center;
            align-items:      center;
            //align-self:     flex-end;
            align-self:       flex-end;
            //position:         absolute;
            bottom:           16px;
            right:            16px;
            user-select:      none;
            color:            #433F36;

            strong {
                margin:      0 2px;
                font-size:   32px;
                font-weight: 400;
                align-self:  baseline;

            }

            svg {
                display:    inline-block;
                align-self: center;
                width:      24px;
                height:     24px;
                margin:     0 4px;
            }

            span {
                align-self: auto;
                display:    inline-flex;
            }

            .up-text:before {
                content:   "/";
                margin:    0 2px;
                display:   inline-block;
                font-size: 24px;

            }
        }

    }


    & img {
        border-top-left-radius:  8px;
        border-top-right-radius: 8px;
        user-select:             none;
    }
}

$background: #FEFEFE;
$text:       #4B507A;

$cyan:       #60DAAA;
$yellow:     #FBCA67;
$orange:     #FF8A30;
$red:        #F45E61;
$purple:     #6477B9;
$blue:       #0EB7DA;

// Basic styles
.border-transitions {
    background:    none;
    border:        0;
    //box-sizing: border-box;
    //margin: 1em;
    //padding: 1em 2em;

    // Using inset box-shadow instead of border for sizing simplicity
    //box-shadow: inset 0 0 0 2px $red;
    //color: $red;
    //font-size: inherit;
    //font-weight: 700;

    // Required, since we're setting absolute on pseudo-elements
    //position: relative;
    //vertical-align: middle;
    border-radius: 8px;

    &::before,
    &::after {
        border-radius: 8px;
        box-sizing:    inherit;
        content:       "";
        position:      absolute;
        width:         100%;
        height:        100%;
    }
}

.draw {
    transition:    color 0.25s;
    border-radius: 8px;

    &::before,
    &::after {
        // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
        border:        2px solid transparent;
        border-radius: 8px;
        width:         0;
        height:        0;
    }

    // This covers the top & right borders (expands right, then down)
    &::before {
        top:  0;
        left: 0;
    }

    // And this the bottom & left borders (expands left, then up)
    &::after {
        bottom: 0;
        right:  0;
    }

    &:hover {
        color: $cyan;
    }

    // Hover styles
    &:hover::before,
    &:hover::after {
        width:  100%;
        height: 100%;
    }

    //&:hover::before {
    //    border-top-color: $cyan; // Make borders visible
    //    border-right-color: $cyan;
    //    transition: width 0.25s ease-out, // Width expands first
    //                      height 0.25s ease-out 0.25s; // And then height
    //}
    //
    //&:hover::after {
    //    border-bottom-color: $cyan; // Make borders visible
    //    border-left-color: $cyan;
    //    transition:
    //                         border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
    //                         width 0.25s ease-out 0.5s, // And then exanding width
    //                         height 0.25s ease-out 0.75s; // And finally height
    //}
}

// Inherits from .draw
.meet {

    &:hover {
        color: $yellow;
    }

    // Start ::after in same position as ::before
    &::after {
        top:  0;
        left: 0;
    }

    // Change colors
    &:hover::before {
        border-top-color:   $yellow;
        border-right-color: $yellow;
    }

    &:hover::after {
        border-bottom-color: $yellow;
        border-left-color:   $yellow;
        transition: // Animate height first, then width
                             height 0.25s ease-out,
                             width 0.25s ease-out 0.25s;
    }

}

#modal_teamlab .modal__container {
    width:         655px;
    height:        auto;
    background:    #F3F0ED;
    box-shadow:    4px 8px 16px 0 rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}

#teamlab-content {
    overflow:    hidden;
    user-select: none;

    .title {
        text-align:  center;
        user-select: none;
        margin:      52px 32px;
    }

    img {
        display:  inline-block;
        position: relative;
    }

    .touch-text {
        z-index:        0;
        position:       absolute;
        right:          120px;
        color:          #7A7A7A;
        font-size:      28px;
        text-align:     left;
        letter-spacing: 0;
        user-select:    none;
    }

    //}

}


.modal__container .modal__close:before {
    border-radius:     50%;
    position:          absolute;
    content:           "";
    font-size:         48px;
    font-weight:       normal;
    line-height:       46px;
    height:            48px;
    width:             48px;
    text-align:        center;
    top:               32px;
    right:             32px;
    display:           inline-block;
    background-image:  url("../assets/images/close.svg");
    background-repeat: no-repeat;
    background-size:   contain;
}
